:root {
    --rosa-fuerte: oklch(0.586 0.253 17.585);
    --rosa-pastel: oklch(0.892 0.058 10.001);
    --rosa-claro: oklch(0.969 0.015 12.422);
    --rosa-oscuro: oklch(0.271 0.105 12.084);
    --gris: oklch(0.551 0.027 264.364);
    --sombra: 0 0 10px rgba(0, 0, 0, 0.7);
    --fuente: sans-serif;
    --espaciado: calc(100% * 1/12)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--rosa-claro);
}

.navigator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigator-logo{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: start;
    padding: 4px;
    padding-left:var(--espaciado);/** La medida REM se usa mas comunmente para fuentes y para los espacios se trabaja con calculos o porcentajes. **/
    box-shadow: var(--sombra);
}

.navigator-logo h1 {
    color: var(--rosa-oscuro);
    font-size: 2rem;
    margin: 4px; /** Los espacios son multiplos de 4 para la rendericación de las pantallas. **/

}

.navigator-menu {
    margin-top: 8px;
    display: flex;
    min-width: 60%;
    background-color: white;
    box-shadow: var(--sombra);
    border: 1.5px solid var(--rosa-pastel);
    border-radius: 8px;

}

.navigator-menu-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 12px 4px;
    list-style: none;
}

.navigator-menu-item {
    background-color: var(--rosa-fuerte);
    color: white;
    padding: 12px 8px;
    border-radius: 12px;
    margin-right: 4px;
}
.navigator-menu-item a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.navigator-menu-item_activate {
    border: 1.5px solid var(--rosa-fuerte);
    background-color: white;
}

.navigator-menu-item_activate a{
    color: var(--rosa-fuerte);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 16px;
}
.search-form div {
    border-bottom: 1px solid var(--gris);
}

.search-form div i{
    margin: 0;
    padding: 0;
}
.search-form div input{
    background-color: transparent;
    color: var(--gris);
    border: none;
    border-bottom: 1px solid var(--gris);
    text-align: center;
}

.search-form div input:focus {
    outline: none;
    border-bottom-width: 2px;
}

.container-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /** Para que los elementos se acomoden en la pantalla, en diferentes lineas. **/
    justify-content: center;
    gap: 16px;
    padding: 16px;
    margin-top: 24px;
    border: 1px solid var(--gris);
}

.card {
    /*border: 1px solid var(--gris);*/
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: 12px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: var(--sombra);
    transition: all .5s case-in-out;
    background-color: white;
}
.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    color: var(--rosa-oscuro);
    font-weight: bold;
}

.card-stock, .card-precio {
    font-size: 0.9rem;
    color: var(--gris);
}

.card div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 4px;
    align-items: center;
}

.card-button {
    background-color: transparent;
    border: None;
}

.card-button:focus {
    outline: none;
}

.card-button_delete {
    padding: 4px 12px;
    border: 1px solid var(--rosa-fuerte);
    border-radius: 4px;
    color: var(--rosa-fuerte);
    font-weight: normal;
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out;
}

.card-button_delete:hover {
    background-color: var(--rosa-fuerte);
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 15, 150, 0.5);
}